.container__news-content {
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin-top: 75px;
}

.news-content__photo>img {
   height: 300px;
   width: 100%;
   min-width: 500px;
}

.news-content__description>p {
   color: gray;
}

a {
   font-size: 21px;
   margin-bottom: 20px;
}